nodered/TinyGS_sort_!/flows (4).json
[{"id":"53889699.701908","type":"tab","label":"sat demo 2","disabled":false,"info":""},{"id":"566d4ba9.3943d4","type":"debug","z":"53889699.701908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":340,"wires":[]},{"id":"16bc1f1c.fed391","type":"function","z":"53889699.701908","name":"Counter","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n\n// this.status({fill:\"red\",shape:\"ring\",text:\"counter: \"});\n//node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n//node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n//node.status({text:\"Just text status\"});\n//node.status({});   // to clear the status\n\n// save tcp reveive counter ...\n//context.global.tcp_rcv_cnt = count;\n\n// make it part of the outgoing msg object\n//msg.count = count;\n\n// show count\nnode.status({fill:\"blue\",shape:\"dot\",text:\"count: \" + count});\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":160,"wires":[[]]},{"id":"8be7fffc.68429","type":"http request","z":"53889699.701908","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://celestrak.com/satcat/tle.php?CATNR=46494","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":160,"wires":[["d7436d28.ae88e"]]},{"id":"d7436d28.ae88e","type":"function","z":"53889699.701908","name":"Move the data to the override values","func":"var p = msg.payload.split(\"\\n\");\nmsg.satid = p[0]\nmsg.tle1 =  p[1]\nmsg.tle2 =  p[2]\nmsg.payload = Date.now()\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":160,"wires":[["263a1cc4.b8bec4","16bc1f1c.fed391"]]},{"id":"a1e0e91f.905808","type":"debug","z":"53889699.701908","name":"Message coming out of TLE node","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1060,"wires":[]},{"id":"89ba85e4.dc4378","type":"inject","z":"53889699.701908","name":"3h","props":[{"p":"payload"}],"repeat":"10800","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":90,"y":360,"wires":[["1069205d.a1865"]]},{"id":"1d19bd5a.960f33","type":"link in","z":"53889699.701908","name":"","links":["53ad7c4c.02f314","710ea20e.9c4a1c"],"x":275,"y":1120,"wires":[["7789f617.c545e8","b0db8227.f919f"]]},{"id":"710ea20e.9c4a1c","type":"link out","z":"53889699.701908","name":"","links":["1d19bd5a.960f33"],"x":955,"y":860,"wires":[]},{"id":"7789f617.c545e8","type":"function","z":"53889699.701908","name":"Extract LatLon","func":"var mapPin = {\n    name: msg.payload.name,\n    lat: msg.payload.position.lat,\n    lon: msg.payload.position.lon,\n    icon: \"satellite\"\n}\nmsg.payload = mapPin;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":1100,"wires":[["a1e0e91f.905808","808961ff.232e7"]]},{"id":"b0db8227.f919f","type":"function","z":"53889699.701908","name":"Convert to Path","func":"var points = msg.payload;\nvar path = {\n    name: 'Path',\n    line: []\n};\nfor (var i = 0; i < points.length; i++) {\n    // [[lat, lon], [lat, lon]]\n    path.line.push([points[i].position.lat, points[i].position.lon])\n}\n\nmsg.payload = path;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1140,"wires":[["a1e0e91f.905808","808961ff.232e7"]]},{"id":"808961ff.232e7","type":"worldmap","z":"53889699.701908","name":"","lat":"48.78","lon":"11.53","zoom":"","layer":"Esri Dark Grey","cluster":"","maxage":"","usermenu":"show","panit":"false","hiderightclick":"false","coords":"none","path":"","x":770,"y":1140,"wires":[]},{"id":"d7342b29.7520c8","type":"comment","z":"53889699.701908","name":"lat  48.78 / long 11.53","info":"worldmap\n\ngroundstation \nlat  48.78 / long 11.53\n\n","x":180,"y":700,"wires":[]},{"id":"4814811c.efac1","type":"tle","z":"53889699.701908","satid":"","tle1":"","tle2":"","coordsys":"latlongdeg","name":"","x":790,"y":500,"wires":[["52bed50c.8b8b7c","566d4ba9.3943d4"]]},{"id":"263a1cc4.b8bec4","type":"timearray","z":"53889699.701908","plus":"5","minus":"5","samples":"40","name":"","x":540,"y":420,"wires":[["67754622.73ca18"]]},{"id":"dabc8ca0.3a3d4","type":"function","z":"53889699.701908","name":"Extract LatLon{20]","func":"\n// remove -20 from name \n//var sname = msg.payload[20].name.split(\"-\");\n\n// actual Pos ( center 20 ) \nvar lat= msg.payload[20].position.lat;\nvar lon= msg.payload[20].position.lon;\n\n// groundstation\nvar gs = {\n    name: \"ETSI_433N\",\n    lat: 48.78,\n    lon: 11.53,\n}\n\n// default\nvar sat_color  = \"white\";\nvar spot_color = \"#aaaa00\";\n\nif ( lat > gs.lat &&  lon < gs.lon)\n{   sat_color  = \"green\"; \n    spot_color = \"green\";\n}\nelse\n{   sat_color  = \"white\";\n    spot_color = \"\";\n}\n\n\nvar mapPin = {\n//    name: msg.payload[20].name,\n    name: msg.satid,\n    label: true,\n    layer: \"satellites\",\n    lat: msg.payload[20].position.lat,\n    lon: msg.payload[20].position.lon,\n    fillOpacity: 0.1,\n    iconColor: sat_color,\n    icon: \"satellite\"\n}\n\n// The radius property is specified in meters.\n\nvar mapspotCircle = {\n//    name: msg.payload[20].name,\n    name: msg.satid +\"_spotCircle\",\n    layer: \"spot-circle\",\n    lat: msg.payload[20].position.lat,\n    lon: msg.payload[20].position.lon,\n    radius: 700000,\n    fillOpacity: 0.1,\n    fillColor: spot_color,\n    color: spot_color\n}\n\n\n// push Pin to map\nmsg.payload = mapPin;\nnode.send(msg);\n\n// push spotCircle to map\nmsg.payload = mapspotCircle;\nnode.send(msg);\n\n\n/*\n------------------------------------\nmsg.payload = {\n    \"name\": \"Myline\",\n    \"layer\": \"Lines\",\n    \"color\": \"#0000ff\",\n    \"weight\": \"6\",\n    \"dashArray\": \"30 20\",\n    \"geojson\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [[0,0],[0,90]]\n    }\n}\n\n\nmsg.payload =  {\n    \"name\": \"circle\",\n    \"lat\": 51.515,\n    \"lon\": -0.1235,\n    \"radius\": 1000,\n    \"layer\": \"drawing\",\n    \"iconColor\": '#464646',\n    \"stroke\": false,\n    \"fillOpacity\": 0.8,\n    \"clickable\": true\n};\n*/\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1220,"wires":[["808961ff.232e7","5c10e05d.83b85","be05d7f3.d43c28"]]},{"id":"d4c4fd4b.b3767","type":"function","z":"53889699.701908","name":"Convert to Path{20]","func":"var points = msg.payload;\n//var pname  = msg.payload[0].name;\nvar pname  = msg.satid;\n\n\n// actual Pos ( center 20 ) \nvar lat= msg.payload[20].position.lat;\nvar lon= msg.payload[20].position.lon;\n\n// groundstation\nvar gs = {\n    name: \"ETSI_433N\",\n    lat: 48.78,\n    lon: 11.53,\n}\n\n// default\nvar sat_color  = \"white\";\nvar spot_color = \"#aaaa00\";\n\nif ( lat > gs.lat &&  lon < gs.lon)\n{   sat_color  = \"green\"; \n    spot_color = \"green\";\n}\nelse\n{   sat_color  = \"white\";\n    spot_color = \"\";\n}\n\n\n\n// predicted path ....\nvar predictedPath = {\n    name: 'predicted_path_'+ pname,\n    layer: \"path lines\",\n    color: sat_color,\n    weight: \"1\",\n//    dashArray: \"20 10\",\n    line: []\n};\n\nfor (var i = 21; i < points.length; i++) {\n    // [[lat, lon], [lat, lon]]\n    predictedPath.line.push([points[i].position.lat, points[i].position.lon])\n}\n\n// -------------------------------------------\n// past path ....\nvar pastPath = {\n    name: 'past_path_' + pname,\n    layer: \"path lines\",\n    color: sat_color,\n    dashArray: \"20 10\",\n    weight: \"1\",\n    line: []\n};\n\nfor (var x = 0; x < (points.length-21); x++) {\n    // [[lat, lon], [lat, lon]]\n    pastPath.line.push([points[x].position.lat, points[x].position.lon])\n}\n\n// push path point to map\nmsg.payload = pastPath;\nnode.send(msg);\n\nmsg.payload = predictedPath;\nnode.send(msg);\n\n\n\n\n\n\n\n\n//return msg;\n\n/*\n------------------------------------\nmsg.payload = {\n    \"name\": \"Myline\",\n    \"layer\": \"Lines\",\n    \"color\": \"#0000ff\",\n    \"weight\": \"6\",\n    \"dashArray\": \"30 20\",\n    \"geojson\": {\n        \"type\": \"LineString\",\n        \"coordinates\": [[0,0],[0,90]]\n    }\n}\n\n\nmsg.payload =  {\n    \"name\": \"circle\",\n    \"lat\": 51.515,\n    \"lon\": -0.1235,\n    \"radius\": 1000,\n    \"layer\": \"drawing\",\n    \"iconColor\": '#464646',\n    \"stroke\": false,\n    \"fillOpacity\": 0.8,\n    \"clickable\": true\n};\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1260,"wires":[["808961ff.232e7","5c10e05d.83b85"]]},{"id":"507bb0bc.b711","type":"link in","z":"53889699.701908","name":"","links":["53ad7c4c.02f314","52bed50c.8b8b7c"],"x":195,"y":1240,"wires":[["dabc8ca0.3a3d4","d4c4fd4b.b3767","57a143f3.faa98c","ed38556c.60d198"]]},{"id":"5c10e05d.83b85","type":"debug","z":"53889699.701908","name":"Message coming out of TLE node","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":1280,"wires":[]},{"id":"c4d5f4c8.747968","type":"comment","z":"53889699.701908","name":"{20] - centerpont of path array","info":"worldmap\n\ngroundstation \nlat  48.78 / long 11.53\n\n","x":200,"y":1180,"wires":[]},{"id":"52bed50c.8b8b7c","type":"link out","z":"53889699.701908","name":"","links":["507bb0bc.b711"],"x":935,"y":620,"wires":[]},{"id":"e56d565a.98d338","type":"function","z":"53889699.701908","name":"ETSI_433N","func":"var mapPin = {\n    name: \"ETSI_433N\",\n    layer: \"groundstations\",\n    label: true,\n    lat: 48.78,\n    lon: 11.53,\n    iconColor: \"white\",\n    icon: \"fa-home\"\n}\nmsg.payload = mapPin;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":1340,"wires":[["808961ff.232e7"]]},{"id":"1c0dacd9.77aa63","type":"comment","z":"53889699.701908","name":"groundstation","info":"worldmap\n\ngroundstation \nlat  48.78 / long 11.53\n\n","x":130,"y":1360,"wires":[]},{"id":"e77d0241.254b5","type":"comment","z":"53889699.701908","name":"https://flows.nodered.org/node/node-red-contrib-web-worldmap","info":"","x":930,"y":1200,"wires":[]},{"id":"1069205d.a1865","type":"http request","z":"53889699.701908","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.tinygs.com/v1/tles.txt","tls":"","persist":false,"proxy":"","authType":"","x":110,"y":560,"wires":[["49cb3430.01d74c"]]},{"id":"49cb3430.01d74c","type":"split","z":"53889699.701908","name":"","splt":"\\n","spltType":"str","arraySplt":"3","arraySpltType":"len","stream":false,"addname":"","x":270,"y":560,"wires":[["a54fa57e.520e18"]]},{"id":"a54fa57e.520e18","type":"join","z":"53889699.701908","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":270,"y":480,"wires":[["6607aa64.1afe64"]]},{"id":"b2dd56e0.bcbee8","type":"function","z":"53889699.701908","name":"Move the data to the override values","func":"var p = msg.payload;\nmsg.satid = p[0]\nmsg.tle1 =  p[1]\nmsg.tle2 =  p[2]\nmsg.payload = Date.now()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":280,"wires":[["4ac851bf.2ec82","263a1cc4.b8bec4"]]},{"id":"4ac851bf.2ec82","type":"function","z":"53889699.701908","name":"Counter","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n\n// this.status({fill:\"red\",shape:\"ring\",text:\"counter: \"});\n//node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n//node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n//node.status({text:\"Just text status\"});\n//node.status({});   // to clear the status\n\n// save tcp reveive counter ...\n//context.global.tcp_rcv_cnt = count;\n\n// make it part of the outgoing msg object\n//msg.count = count;\n\n// show count\nnode.status({fill:\"blue\",shape:\"dot\",text:\"count: \" + count});\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":260,"wires":[[]]},{"id":"57076a71.b53754","type":"inject","z":"53889699.701908","name":"Now","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[[]]},{"id":"b7633cc4.64dd4","type":"inject","z":"53889699.701908","name":"Now","props":[{"p":"payload"}],"repeat":"30","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":350,"y":700,"wires":[[]]},{"id":"7dcfacaf.1ae164","type":"function","z":"53889699.701908","name":"Satish Dhawan Satellite","func":"var p = msg.payload;\nmsg.satid = \"Satish Dhawan Satellite\"\nmsg.tle1 = \"1 47721U 21015W   21111.23768712 -.00000069  00000-0  00000+0 0  9997\"\nmsg.tle2 = \"2 47721  97.4630 186.0794 0012933  84.7234 275.5648 15.20604600  7887\"\nmsg.payload = Date.now()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":800,"wires":[["263a1cc4.b8bec4"]]},{"id":"d0e3481f.82a0a8","type":"tle","z":"53889699.701908","satid":"Satish Dhawan Satellite","tle1":"1 47721U 21015W   21111.23768712 -.00000069  00000-0  00000+0 0  9997","tle2":"2 47721  97.4630 186.0794 0012933  84.7234 275.5648 15.20604600  7887","coordsys":"latlongdeg","name":"","x":570,"y":760,"wires":[[]]},{"id":"67754622.73ca18","type":"switch","z":"53889699.701908","name":"switch by msg.satid","property":"satid","propertyType":"msg","rules":[{"t":"eq","v":"Satish Dhawan Satellite","vt":"str"},{"t":"eq","v":"Sri Shakthi Sat (UNITYsat 3)","vt":"str"},{"t":"eq","v":"Flexible Experimental Embedded Satellite","vt":"str"},{"t":"eq","v":"Norby","vt":"str"},{"t":"eq","v":"VR3X-A Littlefoot","vt":"str"},{"t":"eq","v":"VR3X-B Petrie","vt":"str"},{"t":"eq","v":"VR3X-C Cera","vt":"str"}],"checkall":"false","repair":false,"outputs":7,"x":530,"y":600,"wires":[["4814811c.efac1"],["dadab841.190418"],["c8eae33a.396cb"],["44d0deae.7c491"],["4980218c.2b34"],["1a915f49.303191"],["7a25f9f6.800708"]]},{"id":"dadab841.190418","type":"tle","z":"53889699.701908","satid":"","tle1":"","tle2":"","coordsys":"latlongdeg","name":"","x":790,"y":540,"wires":[["52bed50c.8b8b7c"]]},{"id":"c8eae33a.396cb","type":"tle","z":"53889699.701908","satid":"","tle1":"","tle2":"","coordsys":"latlongdeg","name":"","x":790,"y":580,"wires":[["52bed50c.8b8b7c"]]},{"id":"44d0deae.7c491","type":"tle","z":"53889699.701908","satid":"","tle1":"","tle2":"","coordsys":"latlongdeg","name":"","x":790,"y":620,"wires":[["52bed50c.8b8b7c"]]},{"id":"4980218c.2b34","type":"tle","z":"53889699.701908","satid":"","tle1":"","tle2":"","coordsys":"latlongdeg","name":"","x":790,"y":660,"wires":[["52bed50c.8b8b7c"]]},{"id":"be05d7f3.d43c28","type":"function","z":"53889699.701908","name":"Counter","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n\n// this.status({fill:\"red\",shape:\"ring\",text:\"counter: \"});\n//node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n//node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n//node.status({text:\"Just text status\"});\n//node.status({});   // to clear the status\n\n// save tcp reveive counter ...\n//context.global.tcp_rcv_cnt = count;\n\n// make it part of the outgoing msg object\n//msg.count = count;\n\n// show count\nnode.status({fill:\"blue\",shape:\"dot\",text:\"count: \" + count});\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1340,"wires":[[]]},{"id":"57a143f3.faa98c","type":"function","z":"53889699.701908","name":"Counter","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n\n// this.status({fill:\"red\",shape:\"ring\",text:\"counter: \"});\n//node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n//node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n//node.status({text:\"Just text status\"});\n//node.status({});   // to clear the status\n\n// save tcp reveive counter ...\n//context.global.tcp_rcv_cnt = count;\n\n// make it part of the outgoing msg object\n//msg.count = count;\n\n// show count\nnode.status({fill:\"blue\",shape:\"dot\",text:\"count: \" + count});\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1420,"wires":[[]]},{"id":"1a915f49.303191","type":"tle","z":"53889699.701908","satid":"","tle1":"","tle2":"","coordsys":"latlongdeg","name":"","x":790,"y":700,"wires":[["52bed50c.8b8b7c"]]},{"id":"7a25f9f6.800708","type":"tle","z":"53889699.701908","satid":"","tle1":"","tle2":"","coordsys":"latlongdeg","name":"","x":790,"y":740,"wires":[["52bed50c.8b8b7c"]]},{"id":"52ef6065.64fdd","type":"tle","z":"53889699.701908","satid":"","tle1":"","tle2":"","coordsys":"latlongdeg","name":"","x":790,"y":780,"wires":[["52bed50c.8b8b7c"]]},{"id":"98330998.78e238","type":"inject","z":"53889699.701908","name":"5s","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":90,"y":240,"wires":[["5521984d.c1af48"]]},{"id":"5521984d.c1af48","type":"template","z":"53889699.701908","name":"TLE","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Norby\n1 46494U 20068J   21111.93870473  .00000584  00000-0  47203-4 0  9997\n2 46494  97.6905  49.8248 0016140 272.5347  87.4031 15.03562269 30849\nVR3X-A Littlefoot\n1 47463U 21006BC  21053.86202839  .00001407  00000-0  86849-4 0  9993\n2 47463  97.4990 116.9904 0010605 151.3085 208.8730 15.11473292  4725\nVR3X-B Petrie\n1 47467U 21006BG  21053.86075148  .00001393  00000-0  85861-4 0  9995\n2 47467  97.4995 116.9939 0010666 149.8091 210.3756 15.11539090  4723\nVR3X-C Cera\n1 47524U 21006DQ  21054.12407896  .00001439  00000-0  88390-4 0  9999\n2 47524  97.5005 117.2599 0010665 146.9421 213.2478 15.11615930  4765\nSatish Dhawan Satellite\n1 47721U 21015W   21111.76412297 -.00000070  00000-0  00000-0 0  9992\n2 47721  97.4638 186.6048 0013611  87.1501 273.1395 15.20608161  7969\nSri Shakthi Sat (UNITYsat 3)\n1 47716U 21015T   21093.52252237 -.00000070  00000+0  00000+0 0  9993\n2 47716  97.4585 168.5207 0013232 160.9461 199.2332 15.21085427  5090\nFlexible Experimental Embedded Satellite\n1 48041U 21022AK  21111.22834664  .00001991  00000-0  13898-3 0  9997\n2 48041  97.5627  14.5584 0016718 132.6933 347.0891 15.06393376  3235","output":"str","x":170,"y":300,"wires":[["49cb3430.01d74c"]]},{"id":"6607aa64.1afe64","type":"delay","z":"53889699.701908","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"100","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":420,"wires":[["b2dd56e0.bcbee8"]]},{"id":"ed38556c.60d198","type":"delay","z":"53889699.701908","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":1340,"wires":[["e56d565a.98d338"]]}]